
@import 'vue-material/dist/vue-material.min.css';
@import 'vue-material/dist/theme/default.css';
@import './variables.css';
@import './normalizer.css';

.main-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
}

@media(min-width: 1024px) {
  .main-container {
    flex-flow: row;
  }
}

/**
 * NavBar
**/
.main-container .nav-bar {
  background-color: var(--primary-green);
  min-height: 240px;
  width: 100%;
  padding-top: 38px;
  box-sizing: border-box;
  color: var(--white);
}
.main-container .nav-bar .nav-bar__steps{
  font-size: 13px;
  line-height: 20px;
  width: 100%;
  text-align: center;
}
.main-container .nav-bar .nav-bar__steps--long{
  display: none;
}
.main-container .nav-bar .nav-bar__steps a{
  font-family: Material Icons;
  position: absolute;
  left: 19px;
  font-size: 30px;
}
.main-container .nav-bar .nav-bar__steps .nav-bar__steps--heavy{
  font-weight: 700;
}
.main-container .nav-bar .nav-bar__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-top: 30px;
  padding: 0 50px;
}
.main-container .nav-bar .nav-bar__title .nav-bar__image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  min-width: 36px;
  border: solid 2px var(--white);
  border-radius: 50%;
  margin-right: 17px;
}

@media(min-width: 1024px) {
  .main-container .nav-bar {
    min-height: 100vh;
    max-width: 325px;
    font-size: 20px;
    padding-top: 51px;
  }
  .main-container .nav-bar .nav-bar__steps{
    line-height: 16px;
    text-align: left;
    padding-left: 33px;
  }
  .main-container .nav-bar .nav-bar__steps--short{
    display: none;
  }
  .main-container .nav-bar .nav-bar__steps--long{
    display: flex;
  }
  .main-container .nav-bar .nav-bar__steps a{
    left: 0px;
    font-size: 30px;
  }
  .main-container .nav-bar .nav-bar__title {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 700;
    margin-top: 52px;
    padding: 0 52px 0 5px;
  }
}

/**
 * CardForm
**/
.main-container .card-form {
  background-color: var(--light-gray);
  width: 100%;
  flex: 1;
  padding: 0 40px;
  padding-top: 106px;
}
.main-container .card-form .card-form__steps {
  display: none;
}
.main-container .card-form .md-field {
  margin-top: 0;
}
.main-container .card-form .md-field.md-field--half {
  width: 48%;
  display: inline-block;
  margin-right: 2%;
}
.main-container .card-form .md-field.md-field--half.md-field--right {
  margin-left: 2%;
  margin-right: 0;
}
.main-container .card-form .card-form__buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.main-container .card-form .card-form__buttons .md-button {
  margin: 0;
  height: auto;
}
.main-container .card-form .card-form__buttons .md-button.md-button--secondary-green {
  background-color: var(--secondary-green);
  color: var(--white);
  font-size: 15px;
  padding: 15px 28px;
}

@media(min-width: 1024px) {
  .main-container .card-form {
    min-height: 100vh;
    padding: 118px 5px 0 203px;
  }
  .main-container .card-form .md-field {
    margin-bottom: 42px;
  }
  .main-container .card-form .card-form__buttons{
    justify-content: flex-end;
    padding-top: 20px;
  }

  .main-container .card-form .card-form__steps {
    display: flex;
    position: absolute;
    top: 50px;
    right: 14px;
    color: var(--primary-green);
  }
  .main-container .card-form .card-form__steps .card-form__step-wrapper {
    display: flex;
  }
  .main-container .card-form .card-form__steps .card-form__step-wrapper span{
    margin-right: 12px;
    width: 18px;
    line-height: 18px;
    box-sizing: content-box;
    text-align: center;
    border-radius: 50%;
    border: solid 1px var(--primary-green);
  }
  .main-container .card-form .card-form__steps .card-form__step-wrapper img{
    margin-right: 12px;
    width: 20px;
  }
  .main-container .card-form .card-form__steps .card-form__step-wrapper a{
    font-family: Material Icons;
    font-size: 30px;
    margin: 0 23px;
  }
}

/**
 * CardArt
**/
.main-container .card-art {
  position: absolute;
  width: 280px;
  height: 172px;
  top: 142px;
  border-radius: 10px;
  padding: 30px 15px;
  box-sizing: border-box;
  color: var(--white);
  background: radial-gradient(73.06% 104.31% at 14.59% 58.06%, var(--pale-gradient1) 0%, var(--pale-gradient1) 0.01%, var(--pale-gradient2) 33.7%, var(--pale-gradient3) 100%);
}
.main-container .card-art.card-art--bright {
  background: radial-gradient(73.06% 104.31% at 14.59% 58.06%, var(--bright-gradient1) 0%, var(--bright-gradient2) 33.7%, var(--bright-gradient3) 57.29%, var(--bright-gradient4) 100%);
}
.main-container .card-art .card-art__brand {
  height: 20px;
  margin-bottom: 42px;
}
.main-container .card-art .card-art__brand img{
  height: 100%;
}
.main-container .card-art .card-art__number {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 17px;
}
.main-container .card-art .card-art__number span{
  margin-right: 10px;
}
.main-container .card-art .card-art__info {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
@media(min-width: 1024px) {
  .main-container .card-art {
    width: 492px;
    height: 302px;
    left: 5px;
    top: 196px;
    padding: 46px;
  }
  .main-container .card-art .card-art__brand {
    height: 30px;
    margin-bottom: 73px;
  }
  .main-container .card-art .card-art__number {
    margin-bottom: 38px;
    font-size: 26px;
    line-height: 32px;
  }
  .main-container .card-art .card-art__number span{
    margin-right: 20px;
  }
  .main-container .card-art .card-art__info {
    font-size: 22px;
  }
}