
@import 'vue-material/dist/vue-material.min.css';
@import 'vue-material/dist/theme/default.css';
@import './variables.css';
@import './normalizer.css';

.main-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
}

/**
 * NavBar
**/
.main-container .nav-bar {
  background-color: var(--primary-green);
  min-height: 240px;
  width: 100%;
  padding-top: 38px;
  box-sizing: border-box;
  color: var(--white);
}
.main-container .nav-bar .nav-bar__steps{
  font-size: 13px;
  line-height: 20px;
  width: 100%;
  text-align: center;
}
.main-container .nav-bar .nav-bar__steps a{
  font-family: Material Icons;
  position: absolute;
  left: 19px;
  font-size: 30px;
}
.main-container .nav-bar .nav-bar__steps .nav-bar__steps--heavy{
  font-weight: 700;
}

.main-container .nav-bar .nav-bar__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-top: 30px;
  padding: 0 50px;
}

.main-container .nav-bar .nav-bar__title .nav-bar__image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  min-width: 36px;
  border: solid 2px var(--white);
  border-radius: 50%;
  margin-right: 17px;
}

/**
 * CardForm
**/
.main-container .card-form {
  background-color: var(--light-gray);
  width: 100%;
  flex: 1;
  padding: 0 40px;
  padding-top: 106px;
}
.main-container .card-form .md-field {
  margin-top: 0;
}
.main-container .card-form .md-field.md-field--half {
  width: 48%;
  display: inline-block;
  margin-right: 2%;
}
.main-container .card-form .md-field.md-field--half.md-field--right {
  margin-left: 2%;
  margin-right: 0;
}
.main-container .card-form .card-form__buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.main-container .card-form .card-form__buttons .md-button {
  margin: 0;
  height: auto;
}
.main-container .card-form .card-form__buttons .md-button.md-button--secondary-green {
  background-color: var(--secondary-green);
  color: var(--white);
  font-size: 15px;
  padding: 15px 28px;
}


/**
 * CardArt
**/
.main-container .card-art {
  position: absolute;
  width: 280px;
  height: 172px;
  top: 142px;
  border-radius: 10px;
  padding: 30px 15px;
  box-sizing: border-box;
  color: var(--white);
  background: radial-gradient(73.06% 104.31% at 14.59% 58.06%, var(--pale-gradient1) 0%, var(--pale-gradient1) 0.01%, var(--pale-gradient2) 33.7%, var(--pale-gradient3) 100%);
}
.main-container .card-art.card-art--bright {
  position: absolute;
  width: 280px;
  height: 172px;
  top: 142px;
  border-radius: 10px;
  padding: 30px 15px;
  box-sizing: border-box;
  color: var(--white);
  background: radial-gradient(73.06% 104.31% at 14.59% 58.06%, var(--bright-gradient1) 0%, var(--bright-gradient2) 33.7%, var(--bright-gradient3) 57.29%, var(--bright-gradient4) 100%);
}
.main-container .card-art .card-art__brand {
  height: 20px;
  margin-bottom: 42px;
}
.main-container .card-art .card-art__brand img{
  height: 100%;
}
.main-container .card-art .card-art__number {
  margin-bottom: 18px;
  font-size: 14px;
}
.main-container .card-art .card-art__number span{
  margin-right: 10px;
}
.main-container .card-art .card-art__info {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}